{% extends 'user.html' %}

{% block content %}
    <h1>{% block title %}Order History{% endblock %}</h1>
    <div style="width: 50%; margin: auto">
        <h2>In Progress Orders: </h2>
        {% if not progress %}
        <p style="font-size: 22px">No Orders in progress</p>
        {% else %}
        {% for item in progress %}
            <div style="padding: 10px; background-color: #EEE; margin: 20px">
                <a class="nav-link" href="{{ url_for('admin_order', order_id=item.ID)  }}">Order Info</a>
                <p style="font-size: 22px">ORDER ID : {{item.ID}}</p>
            </div>
        {% endfor %}
        {% endif %}
        <br>
        <br>
        <h2>Done Orders: </h2>
        {% if not done %}
        <p style="font-size: 22px">No Orders in Done</p>
        {% else %}
        {% for item in done %}
            <div style="padding: 10px; background-color: #EEE; margin: 20px">
                <a class="nav-link" href="{{ url_for('admin_order', order_id=item.ID)  }}">Order Info</a>
                <p style="font-size: 22px">ORDER ID : {{item.ID}}</p>
            </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}