{% extends 'user.html' %}

{% block content %}
  <h1>{% block title %} Register {% endblock %}</h1>
  <form method="POST" style="width: 50%; margin: auto">
      <input type="text" name="Telephone" placeholder="Telephone">
      <br>
      <input type="text" name="Email" placeholder="Email">
      <br>
      <input type="text" name="Password" placeholder="Password">
      <br>
      <input type="text" name="Tg" placeholder="Tg">
      <br>
      <br>
      <select id="Type" name="Type">
          <option value="Admin" name="Type">Admin</option>
          <option value="User" name="Type">User</option>
          <option value="Cashier" name="Type">Cashier</option>
          <option value="Kitchen" name="Type">Kitchen</option>
      </select>
      <br>
      <br>
      <input type="submit">
  </form>
  <br>
{% endblock %}