{% extends 'user.html' %}

{% block content %}
  <h1>{% block title %} Edit {% endblock %}</h1>
  <form method="POST" style="width: 50%; margin: auto">
      <p>Telephone</p>
      <input type="text" name="Telephone" value="{{ session['Telephone'] }}">
      <br>
      <br>
      <p>Email</p>
      <input type="text" name="Email" value="{{ session['Email'] }}">
      <br>
      <br>
      <p>Tg</p>
      <input type="text" name="Tg" value="{{ session['Tg'] }}">
      <br>
      <br>
      <select id="Type" name="Type">
          <option value="Admin">Admin</option>
          <option value="User">User</option>
          <option value="Cashier">Cashier</option>
          <option value="Kitchen">Kitchen</option>
      </select>
      <br>
      <br>
      <input type="submit">
  </form>
  <br>
{% endblock %}